# macOS
.DS_Store

# Node.js
server/node_modules/
server/.env

# Flutter/Dart
**/build/
**/.dart_tool/
**/.packages
**/pubspec.lock

# iOS build
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# IDEs
.vscode/
.idea/